body {
    color: #eee;
    font-family: Poppins, sans-serif;
    margin: 0;
    background-image:
        repeating-linear-gradient(to right, #2d2a44 0 1px, transparent 2px 200px),
        repeating-linear-gradient(to bottom, #2d2a44 0 1px, transparent 2px 200px),
        radial-gradient(at 50% 50%, #2d2a44, #1d1b34);
}

::-webkit-scrollbar {
    width: 0;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
header {
    width: min(1200px, 90vw);
    margin: auto;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 2;
}

header img {
    width: 30px;
}

header nav ul {
    display: flex;
    gap: 20px;
}

header nav ul li a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    color: #eee;
    text-decoration: none;
    background-image: linear-gradient(120deg, #c691e6 0%, #e8e191 100%);
    box-shadow: 0 0 10px rgba(198, 145, 230, 0.3);
    transition: 0.3s ease-in-out;
}

header nav ul li a:hover {
    color: #040018;
    background: #c691e6;
    box-shadow: 0 0 15px rgba(198, 145, 230, 0.6);
}

main .banner {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    text-align: center;
    margin-top: -70px;
    position: relative;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

h1 {
    --to: left;
    font-size: 4em;
    font-weight: bold;
    background-image: linear-gradient(to var(--to), #89a5df, #e46e7f, #e8e191);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-transform: uppercase;
    line-height: 1em;
}

h1.right {
    --to: right;
}

.banner #dotsCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 1;
}

.study-button {
    all: unset;
    border: 1px solid #afaeae55;
    padding: 10px 20px;
    border-radius: 20px;
    background: none;
    cursor: pointer;
    transition: 0.5s;
}

.study-button:hover {
    background-color: #c691e6;
    color: #040018;
    box-shadow: 0 0 50px #c691e6;
}

.study-button a {
    color: transparent;
    background: linear-gradient(90deg, #e46e7f, #89a5df, #e8e191);
    -webkit-background-clip: text;
    background-clip: text;
    font-weight: bold;
    text-decoration: none;
    transition: color 0.3s ease;
}

.study-button:hover a {
    color: #040018;
    -webkit-background-clip: text;
    background-clip: text;
}
